/* Dobradura */

body {
  background: greenyellow;
}

.img-logo {
  margin-top: 15px
}

.uc-container {
	position: relative;
	width: 87px;
	height: 87px;
	top: 0;
  left: 0;
  transform: scale(1);
}

.uc-single, 
.uc-back,
.uc-front,
.uc-initial {
	background: lavenderblush;
}

.uc-final-wrapper,
.uc-initial-content {
  background: none;
}

.uc-final,
.uc-final-wrapper {
	width: 100%;
  height: 100%;
  /* max-width: 100vw; */
  position: absolute;
}
.uc-initial {
	width: 100%;
  height: 100%;
  /* max-width: 100vw; */
	position: absolute;
	top: 0;
  left: 0;
  background: lavenderblush;
}

.uc-initial-content {
  background: lavenderblush;
}

.uc-initial-content,
.uc-final-content {
	width: 100%;
	height: 100%;
  position: relative;
}

/* Cartão dentro da dobradura */
label.label-cartao {
  -webkit-perspective: 1000px;
  perspective: 1000px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  display: block;
  width: 348px;
  height: 348px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.cartao {
  position: relative;
  height: 100%;
  width: 100%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all 600ms;
  transition: all 600ms;
  z-index: 20;
  background: lavenderblush;
}

.cartao .conteudo {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #FFF;
  text-align: center;
  /* line-height: 200px; */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 2px;
}

.cartao .verso {
  background: #fff0f5;
  color: #28a745;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.cartao .verso p {
  margin-top: 10%;
  margin-bottom: 0.5rem
}

.cartao .conteudo form {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  top: 50%;
  transform: translate(0, 50%); 
  margin-top: 10%; */
}

.cartao .conteudo form .btn {
  margin-top: 20px;
}

.form-group {
  margin-bottom: 0;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #28a745;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69,.25);
}

/* label:hover .cartao {
  -webkit-transform: rotateX(20deg);
  transform: rotateX(20deg);
  box-shadow: 0 20px 20px rgba(50, 50, 50, 0.2);
} */

input {
  display: none;
}

:checked + .cartao {
  transform: rotatey(180deg);
  -webkit-transform: rotatey(180deg);
}

span.close {
  position: absolute;
  right: 5px;
  top: 5px;
  transform: rotate(45deg);
}

span.close-fake {
  position: absolute;
  right: 5px;
  top: 5px;
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
  transform: rotate(45deg);
}

#uc-container.scale-zero {
  transform: scale(0);
  transition: transform 150ms ease-out !important;
}